<section class="content-header">
    <h1>
    Entity
    <small>preview of entity list</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Entity</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <!-- Default box -->
            <div class="box box-solid box-primary" ng-click="main.redirect()" style="cursor:pointer">
                <div class="box-header">
                    <h3 class="box-title">Shopping Logs</h3>
                </div>
                <div class="box-body">
                    <p>
                    Log Information Goes Here
                    </p>
                    <p class="text-yellow">200000 Records</p>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        Last Updated : <code>23/1/2015</code>
                    </div>
                    </div><!-- /.box -->
                </div>
                <div class="col-md-4">
                    <!-- Default box -->
                    <div class="box box-solid box-primary" ng-click="main.redirect()" style="cursor:pointer">
                        <div class="box-header">
                            <h3 class="box-title">Web Logs</h3>
                        </div>
                        <div class="box-body">
                            <p>
                            Log Information Goes Here
                            <p class="text-yellow">200000 Records</p>
                            </p>
                            </div><!-- /.box-body -->
                            <div class="box-footer">
                                Last Updated : <code>23/1/2015</code>
                            </div>
                            </div><!-- /.box -->
                        </div>
                        <div class="col-md-4">
                            <!-- Default box -->
                            <div class="box box-solid box-primary" ng-click="main.redirect()" style="cursor:pointer">
                                <div class="box-header">
                                    <h3 class="box-title">Movie Logs</h3>
                                </div>
                                <div class="box-body">
                                    <p>
                                    Log Information Goes Here
                                    <p class="text-yellow">200000 Records</p>
                                    </p>
                                    </div><!-- /.box-body -->
                                    <div class="box-footer">
                                        Last Updated : <code>23/1/2015</code>
                                    </div>
                                    </div><!-- /.box -->
                                </div>                                
                                </section>