'<section class="content-header">
    <h1>
    Entity
    <small>preview of entity list</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Entity</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-4" ng-repeat="item in main.list">
            <!-- Default box -->
            <div class="box box-solid box-primary" ng-click="main.redirect(item.entityId)" style="cursor:pointer">
                <div class="box-header">
                    <h3 class="box-title">{{item.enttityName}}</h3>
                </div>
                <div class="box-body">
                    <p>
                    {{item.entityDescription}}
                    </p>
                   <p class="text-yellow">{{item.recordCount}} Records</p>
                    <h6 style="width: 65px;display: inline-block;">Ingested Dir:</h6><p class="text-green" style="display: inline-block;padding-left: 10px;">
                    {{item.IngestedDirectory}}</p>                    
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        Last Updated : <code>{{item.lastUpdated}}</code>
                    </div>
                    </div><!-- /.box -->
                </div>
               
        </div>                                
</section>